.quotes-list .quotes-item{
    border-bottom: 1px solid #999;
    padding: 2em 0;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.d-flex {
  display: flex !important;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}