//variables
$blue-primary: #133C55;
$fb: #4267B2;
$dark-primary: #202020;
$dark-secondary:#CFCFCF;
$ligh-grey: #EEEEEE;
$dark-grey: #AEAEAE;
//body
body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
//utilities
.bg-dark-primary{
    background-color: $dark-primary;
}
.bg-dark-secondary{
    background-color: $dark-secondary;
}
.bg-grey{
    background-color: $ligh-grey;
}
.bg-dark-grey{
    background-color: $dark-grey;
}
.bg-blue-primary{
    background-color: $blue-primary;
}
.text-white{
    color: #fff;
}
.border-top-blue{
    border-top: 5px solid $blue-primary;
}
.border-top-dark-grey{
    border-top: 5px solid $dark-grey;
}
//navbar
.navbar-ila{
    background-color: $blue-primary;
    .navbar-nav .nav-link,
    .navbar-brand{
        color: #fff;
    }
    .navbar-nav{
        .nav-item{
            transition: all .2s;
            &:hover{
                box-shadow: 0 0 1px rgba($color: #fff, $alpha: 1.0);
            }
            margin-left: 40px;
        }
        .social-item{
            margin-left: 40px;
        }
        .fb-bg{
            width: 25px;
            height: 25px;
            background-color: $fb;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            .social-link{
                color: #fff;
                padding: 1.5px 6.25px;
            }
        }    

        .nav-link{
            padding: .3rem 1rem;
            font-size: .75rem;
            font-family: 'Cabin', sans-serif;
        }
        .social-link{
            font-size: 1.25rem;
        }
        .active{
            border: 1px solid #fff;
        }
        
    }
}

.greetings p{
    line-height: 2;
    font-size: .9rem;
    font-weight: 300;
}
.value-section{
    background-color: #133C55;
}
.box-value{
    padding: 10px;
    height: 100%;
    background-color: #fff;
}
.box-value > .value-title{
    font-size: 1rem;
    font-weight: 400;
}
.box-hover{
    position: relative;
    overflow: hidden;
}
.box-hover:hover .box-overlay{
    top:100%;
}
.box-hover:hover .box-overlay i{
    display: none;
}
.box-overlay{
    transition: all .3s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #133C55;
    border: 2px solid #eee;
}
.box-overlay i{
    color: #fff;
    font-size: 3.5rem;
}