
$blue-primary: #252760;
$blue-secondary: #1B98E0;
$fb: #4267B2;
$twitter: #eee;
$instagram: #eee;
$linkedin: #eee;
$youtube: #eee;
$dark-primary: #202020;
$dark-secondary:#CFCFCF;
$ligh-grey: #EEEEEE;
$dark-grey: #AEAEAE;

body{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'PT Sans', sans-serif;
}
p{
    font-family: 'Open Sans';
    line-height: 2;
    font-size: 16px;
} 
section a{
    font-size: .9rem;
}

.bg-dark-primary{
    background-color: $dark-primary !important;
}
.bg-dark-secondary{
    background-color: $dark-secondary !important;
}
.bg-grey{
    background-color: $ligh-grey !important;
}
.bg-dark-grey{
    background-color: $dark-grey !important;
}
.bg-blue-primary{
    background-color: $blue-primary !important;
}
.bg-picture-3{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/3.jpg);
  background-size: cover;
  background-position: bottom;
}
.text-white{
    color: #fff;
}
.text-blue{
    color: $blue-primary;
}
.border-top-blue{
    border-top: 5px solid $blue-primary;
}
.border-top-dark-grey{
    border-top: 5px solid $dark-grey;
}
.border-bottom-blue{
    border-bottom: 5px solid $blue-primary;
}
.btn-learn-more{
    padding: 1em 5em;
    background-color:#252760;
    &:hover{
        background-color: lighten($color: #252760, $amount: 5);
        text-decoration: none;
    }
    h4{
        margin: 0 !important;
    }
}
.list-group li {
  list-style: none;
}
.quote .card {
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.15);
  height: 100%;
  transition: all .4s;
  &:hover {
    transform: scale(1.025);
    box-shadow: 0 3px 7px rgba(3,132,210, 0.3);
  }
  i{
    color: #196BB5;
  }
  .card-text{
    font-weight: bold;
  }
}
.content .card {
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.15);
  height: 100%;
  transition: all .4s;
  &:hover {
    background-color: #252760;
    color: #fff;
    i{
      color: #fff;
    }
  }
  i{
    color: #196BB5;
  }
  .card-text{
    font-weight: bold;
  }
}
.services {
  // background: linear-gradient(90deg, #1565FF 0%, #57AFE1 100%);
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./image/2.jpg);
  background-size: cover;
  background-position: center;
  .card {
    background: transparent;
    border-color: #fff;
    transition: all .3s;
    &:hover{
      background-color: $blue-primary;
      border-color: $blue-primary;
      .card-text{
        color: #fff;
      }
    }
    .card-text {
      color: #fff;
    }
  }
}
.social-link {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social-item{
    list-style: none;
    margin-left: 24px;
    a img{
        max-height: 30px;
        max-width: 30px;
        width: 100%;
        height: 100%;
    }
    
}
.navbar-ila{
    background-color: $blue-primary;
    .navbar-nav .nav-link,
    .navbar-brand{
        color: #fff;
    }
    .navbar-nav{
        .nav-item{
            transition: all .2s;
            &:hover{
                box-shadow: 0 0 1px rgba($color: #fff, $alpha: 1.0);
            }
            margin-left: 40px;
        }
        .social-list{
          margin-left: 40px
        }
        // .fb-bg{
        //     width: 25px;
        //     height: 25px;
        //     background-color: $fb;
        //     border-radius: 2px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     .social-link{
        //         color: #fff;
        //         padding: 1.5px 6.25px;
        //     }
        // }
        // .ig-bg{
        //     width: 25px;
        //     height: 25px;
        //     background-color: $fb;
        //     border-radius: 2px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     .social-link{
        //         color: #fff;
        //         padding: 1.5px 6.25px;
        //     }
        //}    

        .nav-link{
            padding: .3rem 1rem;
            font-size: .75rem;
            font-family: 'Cabin', sans-serif;
        }
        // .social-link{
        //     font-size: 1.25rem;
        // }
        .active{
            border: 1px solid #fff;
        }
        
    }
}

.caption-image{
  margin: 18px 0;
    .logo {
      height: 100%;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }
}
.greetings p{
    line-height: 2;
    font-size: .9rem;
    font-weight: 300;
}
.value-section{
    background-color: #133C55;
}
.box-value{
    padding: 10px;
    height: 100%;
    background-color: #fff;
}
.box-value > .value-title{
    font-size: 1rem;
    font-weight: 400;
}
.box-hover{
    position: relative;
    overflow: hidden;
}
.box-hover:hover .box-overlay{
    top:100%;
}
.box-hover:hover .box-overlay i{
    display: none;
}
.box-overlay{
    transition: all .3s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #133C55;
    border: 2px solid #eee;
}
.box-overlay i{
    color: #fff;
    font-size: 3.5rem;
}
.services-item{
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
}
.gallery-item{
    min-width: 240px;
    min-height: 240px;
    max-width: 240px;
    max-height: 240px;
}
.gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.quotes-item{
    max-height: 200px;
    min-height: 200px;
}
.quotes-item .quotes-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.quotes h5{
    height: 100px;
}

footer .list-group-item{
    background-color: $ligh-grey;
}
footer .social-media-link{
    width: 100%;
    max-width: 400px;
    padding: 0 10px;
}
footer .social-media-item{
    width: 40px;
    height: 40px;
    background-color: #fff;
    i.fa-facebook-f{
        color:#14336F;
    }
    i.fa-instagram{
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
    }
    i.fa-youtube{
        color: #FF0000;
    }
    i.fa-linkedin-in{
        color: #04395E;
    }
}
.under-construction{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 20px;
    .inner{
        border: 1px solid #fff;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}
.banner-about-us{
    background: url(./image/history-in-hd-sTou35WzMso-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    height: 400px;
    padding: 3em 3em;
    .mask{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        border: 1px solid #fff;
        background-color: rgba($color: #000000, $alpha: .5)
    }
}
.who-we-are{
    .who-we-are-pic{
        background: url(./image/nick-agus-arya-5i3oyOrojvk-unsplash.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        max-height: 300px;
    }
    .who-we-are-text{
        font-size: 1.4rem;
    }
}
.how-we-do-it-bg{
    background: rgb(19,60,85);
    background: linear-gradient(90deg, rgba(19,60,85,1) 0%, rgba(3,132,210,1) 100%);
}
.hwdi-1{
    // background-color: rgba($color: #202020, $alpha: .5);
    // border: 1px solid #fff;
    p{
        color: #fff;
        font-size: 1.2rem;
    }
}
// main{
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }
.blog-content {
    max-width: 800px;
    margin: 0 auto;    
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
@media (max-width: 599px) {
  .caption-image{
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 18px;
    }
  }
  .btn-learn-more{
    padding: 16px 24px;
    & > h4{
      font-size: 16px;
    }
  }
  .box-overlay{
    i{
      font-size: 32px;
    }
  }
  .about-us-short{
    margin-top: 2em;
    div{
      padding-left: 0 !important
    }
  }
  section.mission {
    position: relative;
    h2{
      font-size: 22px;
    }
  }
  .navbar-ila .navbar-nav .nav-item {
    margin: 8px 0;
  }
  .navbar-ila .social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    .social-item{
      list-style: none;
      margin: 2px 0;
    }
  }
}